body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
}
a{
    color: inherit;
    text-decoration: none;
}
.header{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .header_wrapper{
        .header_logo{
            img{
                width: 50%;
            }
        }
        .header_links{
            display: none;
            gap: 20px;
            .activeLink{
                font-size: 16px;
                transition: all ease 0.3s;
                &:hover{
                    color: #3776C5;
                }
            }
        }

        .header_actions{
            display: none;
        }
        .res-actions{
            cursor: pointer;
        }
        .res-input{
            display: none;
            align-items: center;
            gap: 8px;
            border: 1px solid white;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    #header_actions_input{
        display: flex;
        align-items: center;
        gap: 8px;
        border: 1px solid white;
        padding: 10px 20px;
        border-radius: 10px;
    }
}
@media (min-width: 770px) {
    .header{
        #header_actions_input{
            display: none;
        }
        .header_wrapper{
            .header_logo{
                img{
                    width: 70%;
                }
            }
            .res-input{
                display: flex;
            }
        }
    }
}
@media (min-width : 1228px) {
    .header{
        .header_wrapper{
            .header_links{
                display: flex;
            }
        }
    }
}