#app {
    height: 100%;
  }
  html,
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 90%;
    height: 90%;
    object-fit: cover;
  }
  